In [84]:
#Importamos librerías requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [85]:
#Se muestra el DataFrame creado a partir del documento xlsx
# CUARTA HOJA GASTOS (2023)
g23 = pd.read_excel('Gastos y costos 20-23.xlsx', sheet_name="2023",skiprows=3)

In [86]:
#Verificamos información del DataFrame
g23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        397 non-null    datetime64[ns]
 1   Folio        384 non-null    object
 2   UUID         397 non-null    object
 3   RFC          397 non-null    object
 4   Proveedor    397 non-null    object
 5   TIPO GASTO   389 non-null    object
 6   Descripción  397 non-null    object
 7   MP           326 non-null    object
 8   FP           326 non-null    float64
 9   TC           397 non-null    float64
 10  Importe      397 non-null    float64
 11  IVA          397 non-null    float64
 12  RET ISR      397 non-null    float64
 13  RET IVA      397 non-null    float64
 14  Otros        0 non-null      float64
 15  TOTAL MX     397 non-null    float64
 16  TOTAL SAT    397 non-null    float64
 17  Tipo         397 non-null    object
 18  Status       397 non-null    object
 19  Poliza       282 non-null    object
dtypes: datetime64[ns](1), float64(9), object(10)
memory usage: 62.2+ KB

In [87]:
g23.head()

,Fecha,Folio,UUID,RFC,Proveedor,TIPO GASTO,Descripción,MP,FP,TC,Importe,IVA,RET ISR,RET IVA,Otros,TOTAL MX,TOTAL SAT,Tipo,Status,Poliza
0,2023-01-01,31,49536321-60A4-523E-A32F-E8BDF5C2276E,AAE6411055P8,AESA ARTICULOS ELECTRICOS,COMPRAS,Pago,NaN,NaN,1.0,0.00,0.00,0.0,0.0,NaN,0.00,0.00,P,Vigente,NaN
1,2023-01-01,38,20FBB63B-D550-512F-9668-EEC6F983CEB7,AAE6411055P8,AESA ARTICULOS ELECTRICOS,COMPRAS,Pago,NaN,NaN,1.0,0.00,0.00,0.0,0.0,NaN,0.00,0.00,P,Vigente,NaN
2,2023-01-01,341932,DB8C4388-D4E0-4F0C-A09C-77C773257F44,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000006876 30/36 de 03/12/...,PPD,99.0,1.0,5551.38,888.22,0.0,0.0,NaN,6439.60,6439.60,I,Vigente,PE01-ENE23
3,2023-01-01,341933,A81A63F5-D5EC-4601-803E-375AF9CC5021,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000006877 30/36 de 03/12/...,PPD,99.0,1.0,5551.98,888.32,0.0,0.0,NaN,6440.30,6440.30,I,Vigente,PE02-ENE23
4,2023-01-01,342205,DCC10492-DE51-4C87-8430-5676FBF81931,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000009486 5/48 de 03/12/2...,PPD,99.0,1.0,8454.37,1352.70,0.0,0.0,NaN,9807.07,9807.07,I,Vigente,PE03-ENE23

## **VALORES NULOS**

In [88]:
#CORROBORAR LOS VALORES NULOS INICIALES
valores_nulos=g23.isnull().sum()
valores_nulos

Fecha            0
Folio           13
UUID             0
RFC              0
Proveedor        0
TIPO GASTO       8
Descripción      0
MP              71
FP              71
TC               0
Importe          0
IVA              0
RET ISR          0
RET IVA          0
Otros          397
TOTAL MX         0
TOTAL SAT        0
Tipo             0
Status           0
Poliza         115
dtype: int64

In [89]:
#Reemplazar los valores de folio por 0
g23['Folio'] = g23['Folio'] .fillna(0)

In [90]:
#CORROBORAR LOS VALORES NULOS
valores_nulos=g23.isnull().sum()
valores_nulos

Fecha            0
Folio            0
UUID             0
RFC              0
Proveedor        0
TIPO GASTO       8
Descripción      0
MP              71
FP              71
TC               0
Importe          0
IVA              0
RET ISR          0
RET IVA          0
Otros          397
TOTAL MX         0
TOTAL SAT        0
Tipo             0
Status           0
Poliza         115
dtype: int64

In [91]:
#Reemplazar los valores de Tipo de gasto por "--"
g23['TIPO GASTO'] = g23['TIPO GASTO'] .fillna('--')

In [92]:
#CORROBORAR LOS VALORES NULOS
valores_nulos=g23.isnull().sum()
valores_nulos

Fecha            0
Folio            0
UUID             0
RFC              0
Proveedor        0
TIPO GASTO       0
Descripción      0
MP              71
FP              71
TC               0
Importe          0
IVA              0
RET ISR          0
RET IVA          0
Otros          397
TOTAL MX         0
TOTAL SAT        0
Tipo             0
Status           0
Poliza         115
dtype: int64

In [93]:
#Reemplazar los valores de MP por "--"
g23['MP'] = g23['MP'] .fillna('--')

In [94]:
#CORROBORAR LOS VALORES NULOS
valores_nulos=g23.isnull().sum()
valores_nulos

Fecha            0
Folio            0
UUID             0
RFC              0
Proveedor        0
TIPO GASTO       0
Descripción      0
MP               0
FP              71
TC               0
Importe          0
IVA              0
RET ISR          0
RET IVA          0
Otros          397
TOTAL MX         0
TOTAL SAT        0
Tipo             0
Status           0
Poliza         115
dtype: int64

In [95]:
#Reemplazar los valores de FP por "--"
g23['FP'] = g23['FP'] .fillna('--')

In [96]:
#CORROBORAR LOS VALORES NULOS
valores_nulos=g23.isnull().sum()
valores_nulos

Fecha            0
Folio            0
UUID             0
RFC              0
Proveedor        0
TIPO GASTO       0
Descripción      0
MP               0
FP               0
TC               0
Importe          0
IVA              0
RET ISR          0
RET IVA          0
Otros          397
TOTAL MX         0
TOTAL SAT        0
Tipo             0
Status           0
Poliza         115
dtype: int64

In [97]:
#Reemplazar los valores de la columna Otros por 0
g23['Otros'] = g23['Otros'] .fillna(0)

In [98]:
#CORROBORAR LOS VALORES NULOS
valores_nulos=g23.isnull().sum()
valores_nulos

Fecha            0
Folio            0
UUID             0
RFC              0
Proveedor        0
TIPO GASTO       0
Descripción      0
MP               0
FP               0
TC               0
Importe          0
IVA              0
RET ISR          0
RET IVA          0
Otros            0
TOTAL MX         0
TOTAL SAT        0
Tipo             0
Status           0
Poliza         115
dtype: int64

In [99]:
#Reemplazar los valores de FP por "--"
g23['Poliza'] = g23['Poliza'] .fillna('--')

In [100]:
#CORROBORAR LOS VALORES NULOS
valores_nulos=g23.isnull().sum()
valores_nulos

Fecha          0
Folio          0
UUID           0
RFC            0
Proveedor      0
TIPO GASTO     0
Descripción    0
MP             0
FP             0
TC             0
Importe        0
IVA            0
RET ISR        0
RET IVA        0
Otros          0
TOTAL MX       0
TOTAL SAT      0
Tipo           0
Status         0
Poliza         0
dtype: int64

In [101]:
g23.to_csv("Gastos y costos 20-23_sin_nulos.csv")

In [102]:
from google.colab import files
files.download("Gastos y costos 20-23_sin_nulos.csv")