In [40]:
#Importamos librerías requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [41]:
#Se muestra el DataFrame creado a partir del documento xlsx
# CUARTA HOJA GASTOS (2023)
g20 = pd.read_excel('Gastos y costos 20-23.xlsx', sheet_name="2020",skiprows=5)

In [42]:
#Verificamos información del DataFrame
g20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342 entries, 0 to 3341
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA        3342 non-null   datetime64[ns]
 1   FOLIO        3153 non-null   object
 2   UUID         3342 non-null   object
 3   RFC          3342 non-null   object
 4   PROVEEDOR    3342 non-null   object
 5   TIPO GASTO   3342 non-null   object
 6   GASTO        840 non-null    object
 7   DESCRIPCION  3342 non-null   object
 8   TC           2951 non-null   float64
 9   IMPORTE      3308 non-null   float64
 10  IVA          3074 non-null   float64
 11  RET ISR      3342 non-null   float64
 12  RET IVA      3342 non-null   float64
 13  TOTAL MX     3342 non-null   float64
 14  TOTAL SAT    3342 non-null   float64
 15  TIPO         3341 non-null   object
 16  STATUS       3342 non-null   object
 17  POLIZA       21 non-null     object
 18  Columna1     3342 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(10)
memory usage: 496.2+ KB

In [43]:
g20.head()

,FECHA,FOLIO,UUID,RFC,PROVEEDOR,TIPO GASTO,GASTO,DESCRIPCION,TC,IMPORTE,IVA,RET ISR,RET IVA,TOTAL MX,TOTAL SAT,TIPO,STATUS,POLIZA,Columna1
0,2020-01-01,39408,BD20F436-72CC-4BE2-AD37-5999D71AA391,ARE080115PBA,ARSI RENTA SA DE CV,MAQUINARIA,NaN,"Descripción: REVOLVEDORA, Modelo: ULTRAMP9A, M...",1.0,0.00,2248.28,0.0,0.0,2248.28,16300.00,I,Vigente,NaN,14051.72
1,2020-01-01,0001010100750847116902,85AEAC2E-6395-44A0-9CB9-754D06893375,BNM840515VB1,"BANCO NACIONAL DE MEXICO, S.A.",COMISION BANCARIA,NaN,COMISION COBRADA,1.0,490.00,78.40,0.0,0.0,568.40,568.40,I,Vigente,NaN,0.00
2,2020-01-01,0001010100752163714102,BD0DFE85-D776-41CB-9C5C-4FA7923E687A,BNM840515VB1,"BANCO NACIONAL DE MEXICO, S.A.",COMISION BANCARIA,NaN,COMISION COBRADA,1.0,195.00,31.20,0.0,0.0,226.20,226.20,I,Vigente,NaN,0.00
3,2020-01-01,3663,EF4504D6-830D-415C-AF03-80CF54C5E28E,PSS120625C86,PROMOTORA DE SERVICIOS Y SOLUCIONES EMPRESARIA...,HONORARIOS CONTABLES,NaN,HONORARIOS CONTABLES\nDEL MES DE ENERO DEL 2020.,1.0,10694.25,1711.08,0.0,0.0,12405.33,12405.33,I,Vigente,NaN,0.00
4,2020-01-01,2849,EC2F4AA4-BA64-4E2E-A5B7-4EBBE042D6D3,ENA7006081P0,ELECTROTERMICA NACIONAL SA DE CV,COMPRAS,NaN,Pago,1.0,0.00,NaN,0.0,0.0,0.00,0.00,P,Vigente,NaN,0.00

## **VALORES NULOS**

In [44]:
#CORROBORAR LOS VALORES NULOS INICIALES
valores_nulos=g20.isnull().sum()
valores_nulos

FECHA             0
FOLIO           189
UUID              0
RFC               0
PROVEEDOR         0
TIPO GASTO        0
GASTO          2502
DESCRIPCION       0
TC              391
IMPORTE          34
IVA             268
RET ISR           0
RET IVA           0
TOTAL MX          0
TOTAL SAT         0
TIPO              1
STATUS            0
POLIZA         3321
Columna1          0
dtype: int64

In [45]:
#Reemplazar los valores de folio por 0
g20['FOLIO'] = g20['FOLIO'] .fillna(0)

In [46]:
#CORROBORAR LOS VALORES NULOS
valores_nulos=g20.isnull().sum()
valores_nulos

FECHA             0
FOLIO             0
UUID              0
RFC               0
PROVEEDOR         0
TIPO GASTO        0
GASTO          2502
DESCRIPCION       0
TC              391
IMPORTE          34
IVA             268
RET ISR           0
RET IVA           0
TOTAL MX          0
TOTAL SAT         0
TIPO              1
STATUS            0
POLIZA         3321
Columna1          0
dtype: int64

In [47]:
#Reemplazar los valores de Gasto por "--"
g20['GASTO'] = g20['GASTO'] .fillna('--')

In [48]:
#CORROBORAR LOS VALORES NULOS
valores_nulos=g20.isnull().sum()
valores_nulos

FECHA             0
FOLIO             0
UUID              0
RFC               0
PROVEEDOR         0
TIPO GASTO        0
GASTO             0
DESCRIPCION       0
TC              391
IMPORTE          34
IVA             268
RET ISR           0
RET IVA           0
TOTAL MX          0
TOTAL SAT         0
TIPO              1
STATUS            0
POLIZA         3321
Columna1          0
dtype: int64

In [49]:
#Reemplazar los valores de TC por "--"
g20['TC'] = g20['TC'] .fillna('--')

In [50]:
#CORROBORAR LOS VALORES NULOS
valores_nulos=g20.isnull().sum()
valores_nulos

FECHA             0
FOLIO             0
UUID              0
RFC               0
PROVEEDOR         0
TIPO GASTO        0
GASTO             0
DESCRIPCION       0
TC                0
IMPORTE          34
IVA             268
RET ISR           0
RET IVA           0
TOTAL MX          0
TOTAL SAT         0
TIPO              1
STATUS            0
POLIZA         3321
Columna1          0
dtype: int64

In [51]:
#Reemplazar los valores de importe por "--"
g20['IMPORTE'] = g20['IMPORTE'] .fillna(0)

In [52]:
#CORROBORAR LOS VALORES NULOS
valores_nulos=g20.isnull().sum()
valores_nulos

FECHA             0
FOLIO             0
UUID              0
RFC               0
PROVEEDOR         0
TIPO GASTO        0
GASTO             0
DESCRIPCION       0
TC                0
IMPORTE           0
IVA             268
RET ISR           0
RET IVA           0
TOTAL MX          0
TOTAL SAT         0
TIPO              1
STATUS            0
POLIZA         3321
Columna1          0
dtype: int64

In [53]:
#Reemplazar los valores de iva por 0
g20['IVA'] = g20['IVA'] .fillna(0)

In [54]:
#CORROBORAR LOS VALORES NULOS
valores_nulos=g20.isnull().sum()
valores_nulos

FECHA             0
FOLIO             0
UUID              0
RFC               0
PROVEEDOR         0
TIPO GASTO        0
GASTO             0
DESCRIPCION       0
TC                0
IMPORTE           0
IVA               0
RET ISR           0
RET IVA           0
TOTAL MX          0
TOTAL SAT         0
TIPO              1
STATUS            0
POLIZA         3321
Columna1          0
dtype: int64

In [55]:
#Reemplazar los valores de Tipo por "--"
g20['TIPO'] = g20['TIPO'] .fillna('--')

In [56]:
#CORROBORAR LOS VALORES NULOS
valores_nulos=g20.isnull().sum()
valores_nulos

FECHA             0
FOLIO             0
UUID              0
RFC               0
PROVEEDOR         0
TIPO GASTO        0
GASTO             0
DESCRIPCION       0
TC                0
IMPORTE           0
IVA               0
RET ISR           0
RET IVA           0
TOTAL MX          0
TOTAL SAT         0
TIPO              0
STATUS            0
POLIZA         3321
Columna1          0
dtype: int64

In [57]:
#Reemplazar los valores de Poliza por "--"
g20['POLIZA'] = g20['POLIZA'] .fillna('--')

In [58]:
#NO SE ENCUENTRAN VALORES NULOS
#CORROBORAR LOS VALORES NULOS
valores_nulos=g20.isnull().sum()
valores_nulos

FECHA          0
FOLIO          0
UUID           0
RFC            0
PROVEEDOR      0
TIPO GASTO     0
GASTO          0
DESCRIPCION    0
TC             0
IMPORTE        0
IVA            0
RET ISR        0
RET IVA        0
TOTAL MX       0
TOTAL SAT      0
TIPO           0
STATUS         0
POLIZA         0
Columna1       0
dtype: int64

In [59]:
g20.to_csv("Gastos y costos 20-23_2020_sin_nulos.csv")

In [60]:
from google.colab import files
files.download("Gastos y costos 20-23_2020_sin_nulos.csv")