##Valores nulos Gastos 2022
##Ruth Maya 
##Valeria Medina 
##Leonardo Isaias

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
g22 = pd.read_excel('Gastos y costos 20-23.xlsx', sheet_name="2022",skiprows=3)

In [18]:
#Verificamos información del DataFrame
g22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        2577 non-null   datetime64[ns]
 1   Folio        2475 non-null   object
 2   UUID         2577 non-null   object
 3   RFC          2577 non-null   object
 4   Proveedor    2577 non-null   object
 5   TIPO GASTO   2577 non-null   object
 6   Descripción  2577 non-null   object
 7   MP           2024 non-null   object
 8   TC           1941 non-null   float64
 9   Importe      2577 non-null   float64
 10  IVA          2577 non-null   float64
 11  RET ISR      2577 non-null   float64
 12  RET IVA      2577 non-null   float64
 13  Otros        0 non-null      float64
 14  TOTAL MX     2577 non-null   float64
 15  TOTAL SAT    2577 non-null   float64
 16  Tipo         2577 non-null   object
 17  Status       2577 non-null   object
 18  Poliza       1776 non-null   object
dtypes: datetime64[ns](1), float64(8), object(10)
memory usage: 382.6+ KB

In [19]:
g22.head()

,Fecha,Folio,UUID,RFC,Proveedor,TIPO GASTO,Descripción,MP,TC,Importe,IVA,RET ISR,RET IVA,Otros,TOTAL MX,TOTAL SAT,Tipo,Status,Poliza
0,2022-01-01,280108,9DA0E63F-1D47-441F-93D7-C2E05AE4D35E,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000006876 18/36 de 03/12/...,PPD,1.0,5551.38,888.22,0.0,0.0,NaN,6439.6,6439.6,I,Vigente,PE02-ENE22
1,2022-01-01,280109,7E00E776-A839-4D57-B291-411109164B2F,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000006877 18/36 de 03/12/...,PPD,1.0,5551.98,888.32,0.0,0.0,NaN,6440.3,6440.3,I,Vigente,PE03-ENE22
2,2022-01-01,007817297284,BB6585C1-3B54-4130-AFD0-1867C3764821,BNM840515VB1,"BANCO NACIONAL DE MEXICO, S.A.",COMISION BANCARIA,Servicios de Facturación,PUE,1.0,0.00,0.00,0.0,0.0,NaN,0.0,0.0,I,Vigente,NaN
3,2022-01-01,5595,B5E4B4EB-6C2F-11EC-BB9D-00155D014009,ZEGC530520V4A,CARLOS ENRIQUE ZERMEÑO GUTIERREZ,COMPRAS,Pago,NaN,1.0,0.00,0.00,0.0,0.0,NaN,0.0,0.0,P,Vigente,NaN
4,2022-01-01,5614,BB6756D1-6CCD-11EC-947D-00155D014407,ZEGC530520V4A,CARLOS ENRIQUE ZERMEÑO GUTIERREZ,COMPRAS,Pago,NaN,1.0,0.00,0.00,0.0,0.0,NaN,0.0,0.0,P,Vigente,NaN

In [20]:
#CORROBORAR LOS VALORES NULOS INICIALES
valores_nulos=g22.isnull().sum()
valores_nulos

Fecha             0
Folio           102
UUID              0
RFC               0
Proveedor         0
TIPO GASTO        0
Descripción       0
MP              553
TC              636
Importe           0
IVA               0
RET ISR           0
RET IVA           0
Otros          2577
TOTAL MX          0
TOTAL SAT         0
Tipo              0
Status            0
Poliza          801
dtype: int64

In [21]:
#Reemplazar los valores de folio por 0
g22['Folio'] = g22['Folio'] .fillna(0)

In [22]:
#CORROBORAR LOS VALORES NULOS
valores_nulos=g22.isnull().sum()
valores_nulos

Fecha             0
Folio             0
UUID              0
RFC               0
Proveedor         0
TIPO GASTO        0
Descripción       0
MP              553
TC              636
Importe           0
IVA               0
RET ISR           0
RET IVA           0
Otros          2577
TOTAL MX          0
TOTAL SAT         0
Tipo              0
Status            0
Poliza          801
dtype: int64

In [23]:
#Reemplazar los valores de MP por "--"
g22['MP'] = g22['MP'] .fillna('--')

In [24]:
#CORROBORAR LOS VALORES NULOS
valores_nulos=g22.isnull().sum()
valores_nulos

Fecha             0
Folio             0
UUID              0
RFC               0
Proveedor         0
TIPO GASTO        0
Descripción       0
MP                0
TC              636
Importe           0
IVA               0
RET ISR           0
RET IVA           0
Otros          2577
TOTAL MX          0
TOTAL SAT         0
Tipo              0
Status            0
Poliza          801
dtype: int64

In [25]:
#Reemplazar los valores de MP por "--"
g22['TC'] = g22['TC'] .fillna('--')

In [26]:
#CORROBORAR LOS VALORES NULOS
valores_nulos=g22.isnull().sum()
valores_nulos

Fecha             0
Folio             0
UUID              0
RFC               0
Proveedor         0
TIPO GASTO        0
Descripción       0
MP                0
TC                0
Importe           0
IVA               0
RET ISR           0
RET IVA           0
Otros          2577
TOTAL MX          0
TOTAL SAT         0
Tipo              0
Status            0
Poliza          801
dtype: int64

In [27]:
#Reemplazar los valores de la columna Otros por 0
g22['Otros'] = g22['Otros'] .fillna(0)

In [28]:
#CORROBORAR LOS VALORES NULOS
valores_nulos=g22.isnull().sum()
valores_nulos

Fecha            0
Folio            0
UUID             0
RFC              0
Proveedor        0
TIPO GASTO       0
Descripción      0
MP               0
TC               0
Importe          0
IVA              0
RET ISR          0
RET IVA          0
Otros            0
TOTAL MX         0
TOTAL SAT        0
Tipo             0
Status           0
Poliza         801
dtype: int64

In [29]:
#Reemplazar los valores de FP por "--"
g22['Poliza'] = g22['Poliza'] .fillna('--')

In [30]:
#CORROBORAR LOS VALORES NULOS
valores_nulos=g22.isnull().sum()
valores_nulos

Fecha          0
Folio          0
UUID           0
RFC            0
Proveedor      0
TIPO GASTO     0
Descripción    0
MP             0
TC             0
Importe        0
IVA            0
RET ISR        0
RET IVA        0
Otros          0
TOTAL MX       0
TOTAL SAT      0
Tipo           0
Status         0
Poliza         0
dtype: int64

In [31]:
g22.to_csv("Gastos y costos 20-22_sin_nulos.csv")
from google.colab import files
files.download("Gastos y costos 20-22_sin_nulos.csv")